body {
    padding: 0;
    margin: 0;
    display: grid;

    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
        "n n n n n n n n n n n n"
        ". . t t t t t t t t . ."
        ". . m m m m m m m m . ."
        ;
}

header {
    grid-area: n;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #111;
    color: white;
}

.header-text {
    grid-column: 3 / 5;
}

.title {
    grid-area: t;
    width: 100%;
    height: 400px;
    /* height: auto; */
    background-color: gray;
    margin: 10px 0 10px 0;
}

.title-img {
    width: 100%;
    height: 400px;
    /* height: auto; */
}

.main {
    grid-area: m;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.card {
    width: 100%;
}

.card-img-container {
    width: 100%;
    height: 200px;
    background-color: gray;
}

.card-img {
    width: 100%;
    height: 200px;
}

@media only screen and (max-width: 600px) {
    body {
      grid-template-areas: 
      "n n n n n n n n n n n n"
      "t t t t t t t t t t t t"
      "m m m m m m m m m m m m";
    }

    .header-text{
        grid-column: 2 / 5;
    }

    .main {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    .card {
        width: 80%;
        justify-self: center;
        margin: 20px 0 20px 0;
    }

    .title {
        width: 90%;
        justify-self: center;
    }
}