@import url('https://fonts.googleapis.com/css?family=Cormorant+Unicase');

body{
    margin: 0;
    font-family: 'Cormorant Unicase', serif; 
    text-align: justify;
    font-size: 22px;
}

header{
    background-color: #444;
    color: #bbb;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-areas: ". head . . .";
    grid-gap: 20px;
}

header >div{
    grid-area: head;
}

#p1{
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 0;
}

#p2{
    font-size: 26px;
    margin-top: 10px;
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-areas: 
        ". lp lp lp ."
        ". sp1 sp2 sp3 .";
    grid-gap: 20px;
}

#large_pic{
    margin: 20px 0 0 0;
    width: 100%;
    height: auto;
    grid-area: lp;
}

#small_pic_1{
    width: 2fr;
    height: auto;
    grid-area: sp1;
}

#small_pic_2{
    width: 2fr;
    height: auto;
    grid-area: sp2;
}

#small_pic_3{
    width: 2fr;
    height: auto;
    grid-area: sp3;
}

.titles{
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 0;
    margin-top:10px;
}

.sp_img {
    width:100%;
}
